* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; /* Will adjust the header section with 'horiseon' text and links */
    
}

body {
    background-color: #dcd6d6; /* main BG colour (default white, black with dark reader) */
}

 /*************** Header Attributes ***************/ 
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    /*color: #ffffff;      'SEO' TEXT COLOUR from HoriSEOn text, commented out as 'SEO' characters differ in colour from the rest of the 'horiseon' text */
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
   /* color: #d9dcd6;      'SEO' TEXT COLOUR from HoriSEOn text, commented out -> as above comment */
}

.header div {
    padding-top: 30px;      /* 3 links in header sections vertical position */
    margin-right: 50px;     /* 3 links in header sections position from R/H/S */
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;          /* Unsure, doesn't seem to change anything by modifying or deleting */
}

.header div ul li {
    display: inline-block;
    margin-left: 10px;              /*Affects the spacing between the 3 links in the header */
}

a {
    color: #ffffff;             /* font colour for the links in the header */
    text-decoration: none;
}

p {
    font-size: 18px;            /* Descriptive text font size in aside area */
}



/* Main Image attributes i.e. the massive photo in the centre of the page */
.hero {
    margin-top: 25px;

    height: 1500px;
    width: 100%;
    
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}



/* aside section attributes */
.AsideClass {
    margin-top: 25px;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.AsideItems {
    margin-bottom: 32px;
    color: #ffffff;
}


.AsideItems h3 {
    margin-bottom: 10px;
    text-align: center;
}


.AsideItems img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}





.HeaderItems {
    margin-bottom: 20px; /* Spacing between the blue rectangular sections on the bottom of the page */
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}



.HeaderItems img {
    max-height: 200px;
}


.HeaderItems h2 {
    margin-bottom: 20px;
    font-size: 36px;
}




/* footer attributes */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
